<div class="row">
  <div class="col-lg-11">
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="kt-portlet__content">
          <ng-content></ng-content>
        </div>
      </div>
      <div *ngIf="footer == ''" class="kt-portlet__foot">
        <div class="kt-form__actions">
          <button type="submit" class="btn btn-primary">{{footerButtonLeftText}}</button>
          <a href="{{footerButtonRightLink}}" style="float: right" class="btn btn-secondary">{{footerButtonRightText}}</a>
        </div>
      </div>
    </div>

  </div>
</div>
