<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid__item  kt-grid__item--fluid kt-grid kt-grid--hor kt-login-v1" id="kt_login_v1">

    <!--begin::Item-->
    <div class="kt-grid__item">

      <!--begin::Heade-->
      <div class="kt-login-v1__head">
        <div class="kt-login-v1__logo">
          <a href="#">
            <img src="assets/media/logos/logo-4.png" alt="" />
          </a>
        </div>
        <div class="kt-login-v1__signup">
          <h4 class="kt-login-v1__heading">Kein Account vorhanden?</h4>
          <a href="#">Jetzt registrieren.</a>
        </div>
      </div>

      <!--begin::Head-->
    </div>

    <!--end::Item-->

    <!--begin::Item-->
    <div class="kt-grid__item  kt-grid kt-grid--ver  kt-grid__item--fluid">

      <!--begin::Body-->
      <div class="kt-login-v1__body">

        <!--begin::Section-->
        <div class="kt-login-v1__section">
          <div class="kt-login-v1__info">
            <h3 class="kt-login-v1__intro">CARANALYTICS - Die beste KFZ-Kostenanalyse</h3>
            <p>Ein Hochschulprojekt der <a class="kt-link" href="https://hs-kl.de/" target="_blank">University of Applied Sciences Kaiserslautern</a></p>
          </div>
        </div>

        <!--begin::Section-->

        <!--begin::Separator-->
        <div class="kt-login-v1__seaprator"></div>

        <!--end::Separator-->

        <!--begin::Wrapper-->
        <div class="kt-login-v1__wrapper">
          <div class="kt-login-v1__container">
            <h3 class="kt-login-v1__title">
              Anmelden
            </h3>

            <!--begin::Form-->
            <form class="kt-login-v1__form kt-form" action="" autocomplete="off" id="kt_login_form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="E-Mail" name="username" autocomplete="off">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="Passwort" name="password" autocomplete="off">
              </div>
              <div class="kt-login-v1__actions">
                <a href="javascript:void(null);" class="btn btn-pill btn-elevate" id="kt_login_submit">Anmelden</a>
              </div>
            </form>

            <!--end::Form-->

            <!--begin::Divider-->
<!--            <div class="kt-login-v1__divider">-->
<!--              <div class="kt-divider">-->
<!--                <span></span>-->
<!--                <span>OR</span>-->
<!--                <span></span>-->
<!--              </div>-->
<!--            </div>-->

            <!--end::Divider-->

            <!--begin::Options-->
<!--            <div class="kt-login-v1__options">-->
<!--              <a href="#" class="btn">-->
<!--                <i class="fab fa-facebook-f"></i>-->
<!--                Fcebook-->
<!--              </a>-->
<!--              <a href="#" class="btn">-->
<!--                <i class="fab fa-twitter"></i>-->
<!--                Twitter-->
<!--              </a>-->
<!--              <a href="#" class="btn">-->
<!--                <i class="fab fa-google"></i>-->
<!--                Google-->
<!--              </a>-->
<!--            </div>-->

            <!--end::Options-->
          </div>
        </div>

        <!--end::Wrapper-->
      </div>

      <!--begin::Body-->
    </div>

    <!--end::Item-->

    <!--begin::Item-->
    <div class="kt-grid__item">
      <div class="kt-login-v1__footer">
        <div class="kt-login-v1__menu">
          <a href="#">Privacy</a>
          <a href="#">Legal</a>
          <a href="#">Contact</a>
        </div>
        <div class="kt-login-v1__copyright">
          <a href="#">&copy; Dennis Adam & Philipp Dalheimer</a>
        </div>
      </div>
    </div>

    <!--end::Item-->
  </div>
</div>

<!-- end:: Page -->



<script>
    document.getElementsByTagName("body")[0].style.backgroundImage = "assets/media/misc/bg_1.jpg";
</script>
