<div class="card card_car_main" style="width: 100%; margin: 10px; border-radius: 6px">
  <div [ngStyle]="getBackgroundImage()" style="border-radius: 6px 6px 0 0;min-height: 230px;" class="kt-bg-metal kt-padding-50"></div>
  <div class="km_zaehler">
    <span class="km">{{getKilometerstand(6)}}</span>
    <span class="km">{{getKilometerstand(5)}}</span>
    <span class="km">{{getKilometerstand(4)}}</span>
    <span class="km">{{getKilometerstand(3)}}</span>
    <span class="km">{{getKilometerstand(2)}}</span>
    <span class="km">{{getKilometerstand(1)}}</span>
    <span class="km">{{getKilometerstand(0)}}</span>
    <span class="km_indicator">km</span>
  </div>
  <div class="card-body" style="text-align: center">
    <h5 class="card-title" style="margin-top: 5px">{{carDetails.model}}</h5>
    <p class="card-text"><span class="badge badge-light">Baujahr {{carDetails.construction_year}}</span></p>
    <div class="car_card_buttons">
      <a data-toggle="tooltip" data-placement="bottom" title="Details" href="javascipt::void(0)" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-info"></i></a>
      <a data-toggle="tooltip" data-placement="bottom" title="Wartungskosten" [routerLink]="['/maintenance', carDetails.user_car_id]" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-wrench"></i></a>
      <a data-toggle="tooltip" data-placement="bottom" title="Versicherung" [routerLink]="['/insurance', carDetails.user_car_id]" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-shield-alt"></i></a>
      <span data-toggle="tooltip" data-placement="bottom" title="Löschen"  >
        <button type="button" class="btn btn-outline-danger btn-lg btn-icon btn-circle" data-toggle="modal"
                [attr.data-target]="'#delete_car_'+ carDetails.user_car_id"><i class="fa fa-trash"></i></button>
      </span>
    </div>
  </div>
</div>

<div class="modal fade" id="delete_car_{{carDetails.user_car_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">KFZ <i>{{carDetails.model}}</i> wirklich löschen?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Durch diese Aktion wird das KFZ <i>{{carDetails.model}}</i> dauerhaft gelöscht.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="deleteCarForUser(carDetails.user_car_id)" data-dismiss="modal">Löschen</button>
        <button type="button" class="btn btn-brand" data-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
