<div class="card card_car_main" style="width: 100%; margin: 10px; border-radius: 6px">
  <div [ngStyle]="getBackgroundImage()" style="border-radius: 6px 6px 0 0;min-height: 230px;" class="kt-bg-metal kt-padding-50"></div>
  <div class="km_zaehler">
    <span class="km">{{getKilometerstand(6)}}</span>
    <span class="km">{{getKilometerstand(5)}}</span>
    <span class="km">{{getKilometerstand(4)}}</span>
    <span class="km">{{getKilometerstand(3)}}</span>
    <span class="km">{{getKilometerstand(2)}}</span>
    <span class="km">{{getKilometerstand(1)}}</span>
    <span class="km">{{getKilometerstand(0)}}</span>
    <span class="km_indicator">km</span>
  </div>
  <div class="card-body" style="text-align: center">
    <h5 class="card-title" style="margin-top: 5px">{{carDetails.model}}</h5>
    <p class="card-text"><span class="badge badge-light">Baujahr {{carDetails.construction_year}}</span></p>
    <div class="car_card_buttons">
      <a data-toggle="tooltip" data-placement="bottom" title="Details" href="javascipt::void(0)" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-info"></i></a>
      <a data-toggle="tooltip" data-placement="bottom" title="Wartung" href="javascipt::void(0)" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-wrench"></i></a>
      <a data-toggle="tooltip" data-placement="bottom" title="Versicherung" href="javascipt::void(0)" class="btn btn-outline-primary btn-lg btn-icon btn-circle"><i class="fa fa-shield-alt"></i></a>
    </div>
  </div>
</div>
