<!-- begin:: Root -->
<div class="kt-grid kt-grid--hor kt-grid--root">

  <!-- begin:: Page -->
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

    <!-- begin:: Aside -->
    <app-menu></app-menu>
    <!-- end:: Aside -->

    <!-- begin:: Wrapper -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

      <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
          <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">KFZ anlegen</h3>
            </div>
          </div>
        </div>

        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

          <app-maincard>
            <form [formGroup]="form" (ngSubmit)="onClickSubmit()" autocomplete="off">
              <div class="form-group">
                <label>Hersteller</label>
                <select class="form-control kt-select2 select2" id="manufacturer_id" name="manufacturer_id">
                  <option *ngFor="let manufacturer of manufacturers" value="{{manufacturer.id}}">{{manufacturer.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Modellname</label>
                <input type="text" class="form-control" placeholder="Model 3" name="car_name" id="car_name">
              </div>

              <div class="form-group">
                <label>Kilometerstand</label>
                <input type="number" class="form-control" min="0" maxlength="6" placeholder="000000" step="1" max="999999" name="mileage" id="mileage">
              </div>

              <div class="form-group">
                <label>Kaufpreis</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">&euro;</span></div>
                  <input type="number" step="0.01" min="0" class="form-control" placeholder="30000" aria-describedby="basic-addon1" id="price">
                </div>
              </div>

              <div class="form-group">
                <label>PS</label>
                <input type="number" max="2000" step="1" min="0" class="form-control" placeholder="75" name="test" id="ps">
              </div>

              <div class="form-group">
                <label>Baujahr</label>
                <input type="number" maxlength="4"  step="1" min="1750" class="form-control" placeholder="2018" id="construction_year">
              </div>

              <div class="form-group">
                <label>Treibstoff</label>
                <select class="form-control kt-select2 select2" id="fuel_id">
                  <option *ngFor="let fuel of fuels" value="{{fuel.id}}">{{fuel.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Benutzerdefiniertes Bild <b>(optional)</b></label>
                <div></div>
                <div class="custom-file">
                  <input (change)="onFileChange($event)" #fileInput type="file" class="custom-file-input" id="custom_image" name="custom_image">
                  <label class="custom-file-label" for="custom_image">Datei auswählen</label>
                  <span class="form-text text-muted">Das beste Ergebnis erzielst du mit dem Bildformat 16:9 (Querformat)</span>
                </div>
              </div>

              <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                  <button type="submit" class="btn btn-primary">KFZ anlegen</button>
                  <a href="/home" style="float: right" class="btn btn-secondary">Abbrechen</a>
                </div>
              </div>
            </form>
          </app-maincard>

        </div>

        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-footer__copyright">
            <a href="#">&copy; Dennis Adam & Philipp Dalheimer</a>
          </div>
          <div class="kt-footer__menu">
            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="#" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
          </div>
        </div>
      </div>

      <!-- end:: Footer -->
    </div>

    <!-- end:: Wrapper -->
  </div>

  <!-- end:: Page -->
</div>
