

<!-- begin:: Root -->
<div class="kt-grid kt-grid--hor kt-grid--root">

  <!-- begin:: Page -->
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

    <!-- begin:: Aside -->
    <app-menu></app-menu>
    <!-- end:: Aside -->

    <!-- begin:: Wrapper -->
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

      <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
          <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">Meine KFZ</h3>
            </div>
          </div>
        </div>

        <!-- end:: Subheader -->

        <!-- begin:: Content -->
        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
          <span id="car_loader"></span>
          <div class="row">
            <div *ngFor="let car of cars" class="col-lg-4">
              <app-car-card class="car_container" [carDetails]="car"></app-car-card>
            </div>

            <div *ngIf="cars == ''"class="col-lg-4 car_container">
                <div class="card card_car_main" style="width: 100%; margin: 10px; border-radius: 6px;">
                  <div class="kt-bg-metal kt-padding-50" style="min-height: 230px; border-radius: 6px 6px 0 0;"></div>
                  <div class="km_zaehler">
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km">0</span>
                    <span class="km_indicator">km</span>
                  </div>
                  <div class="card-body" style="text-align: center; min-height: 200px">
                    <h5 class="card-title" style="margin-top: 5px">Kein KFZ vorhanden</h5>
                    <div class="car_card_buttons" style="margin-top: 70px">
                      <a href="/create/car" class="btn btn-primary">Neues KFZ hinzufügen</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <app-fab icon="la la-plus" tooltipTitle="Neues KFZ hinzufügen" link="/create/car"></app-fab>

        <!-- end:: Content -->
      </div>

      <!-- begin:: Footer -->
      <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
        <div class="kt-container  kt-container--fluid ">
          <div class="kt-footer__copyright">
            <a href="#">&copy; Dennis Adam & Philipp Dalheimer</a>
          </div>
          <div class="kt-footer__menu">
            <a href="" target="_blank" class="kt-footer__menu-link kt-link">About</a>
            <a href="" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
            <a href="" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
          </div>
        </div>
      </div>

      <!-- end:: Footer -->
    </div>

    <!-- end:: Wrapper -->
  </div>

  <!-- end:: Page -->
</div>
